.build/
*.hex
*.elf
*.dfu
*.o
*.obj
*.exe
*.bin
*.pyc
inc/romfiles.h
*.swp
.sconf_temp/
.sconsign.dblite
config.log
.DS_Store
mux*
rfs_server*
doc/dist
doc/cache
inc/git_version.h
*~
*.*~
luac.cross*
boards/*.h
sdcard.img
core
luarpc*
*.map
wofs.img
/elua.lst
/elualong.lst
/lualong.dmp
/lualong.sym
/exec.log
/src/platform/bonfire/cpu_bonfire10.h.gch
*.sym
*.dmp
*.lst
/elua_lua_bonfire_arty.img
/eLuaRISCV
